@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    font-family: 'Raleway', sans-serif;
  }
}
* {
  scroll-behavior: smooth !important;
}
.icons:hover {
  color: #d97706 !important;
}
#logo {
  text-decoration: none !important;
}

.navItem {
  display: inline-block;
  width: 120px;
  font-size: 20px;
  text-align: center;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  cursor: pointer;
}
.navItem::after {
  content: "";
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  width: 0px;
  background-color: rgb(217 119 6 / var(--tw-text-opacity));
}
.navItem:hover::after {
  width: 100%;
  transition: all 0.4s;
}